@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin: 0px auto;
  width: 375px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

body {
  font-family: "Lato", sans-serif;
}
@media (min-width: 1440px) {
  body {
    background-color: #F2F2F2;
  }
}

.header {
  background-image: linear-gradient(rgba(53, 66, 103, 0), #151824), url(../img/city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
}
@media (min-width: 640px) {
  .header {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .header {
    padding-bottom: 80px;
  }
}
@media (min-width: 1024px) {
  .header {
    padding-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .header {
    min-height: 962px;
  }
}
.header-container {
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 640px) {
  .header-container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) {
  .header-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (min-width: 1024px) {
  .header-container {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .header-container {
    padding-left: 188px;
    padding-right: 188px;
  }
}
.header__topline {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
@media (min-width: 1024px) {
  .header__topline {
    padding-top: 10px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .header__topline {
    padding-top: 55px;
    align-items: center;
  }
}
.header__logo {
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (min-width: 320px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .header__menu {
    display: block;
    display: flex;
  }
}
.header__menu-item {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 9px;
  margin-right: 6px;
}
@media (min-width: 768px) {
  .header__menu-item {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .header__menu-item {
    margin-right: 30px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .header__menu-item {
    margin-right: 60px;
    font-size: 18px;
  }
}
.header__burger {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger-wands {
  margin-top: 15px;
}
.header__burger-wand {
  margin: 0px auto;
  height: 2px;
  width: 12px;
  background-color: #000000;
  margin-bottom: 2px;
  border-radius: 2px;
}
.header__title {
  font-size: 29px;
  color: #ffffff;
  margin-top: 40px;
}
@media (min-width: 640px) {
  .header__title {
    font-size: 30px;
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 40px;
    margin-top: 70px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 45px;
    margin-top: 90px;
  }
}
@media (min-width: 1440px) {
  .header__title {
    font-size: 50px;
    margin-top: 180px;
  }
}
.header__title-word {
  display: block;
}
@media (min-width: 1440px) {
  .header__title-word {
    margin-top: 10px;
  }
}
.header__subtitle {
  color: #ffffff;
  margin-top: 17px;
}
@media (min-width: 640px) {
  .header__subtitle {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .header__subtitle {
    margin-top: 15px;
  }
}
@media (min-width: 1024px) {
  .header__subtitle {
    margin-top: 25px;
  }
}
@media (min-width: 1440px) {
  .header__subtitle {
    margin-top: 22px;
  }
}
.header__subtitle-text {
  max-width: 315px;
  line-height: 22px;
  font-size: 18px;
}
@media (min-width: 640px) {
  .header__subtitle-text {
    min-width: 350px;
    line-height: 15px;
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .header__subtitle-text {
    min-width: 400px;
    line-height: 17px;
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .header__subtitle-text {
    min-width: 490px;
    line-height: 19px;
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .header__subtitle-text {
    min-width: 546px;
    line-height: 24px;
    font-size: 16px;
  }
}
.header__button {
  margin-top: 20px;
}
@media (min-width: 640px) {
  .header__button {
    margin-top: 30px;
    display: flex;
  }
}
@media (min-width: 768px) {
  .header__button {
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .header__button {
    margin-top: 60px;
  }
}
@media (min-width: 1440px) {
  .header__button {
    margin-top: 80px;
  }
}
.header__button-radio {
  display: block;
  padding-bottom: 8px;
  margin-bottom: 25px;
  font-size: 20px;
  max-width: 270px;
  color: #ffffff;
  border-bottom: 3px solid #BFC0C5;
}
@media (min-width: 640px) {
  .header__button-radio {
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    border-bottom: 1px solid #BFC0C5;
  }
}
@media (min-width: 768px) {
  .header__button-radio {
    font-size: 16px;
    margin-right: 40px;
  }
}
@media (min-width: 1024px) {
  .header__button-radio {
    font-size: 18px;
    margin-right: 60px;
    border-bottom: 3px solid #BFC0C5;
  }
}
@media (min-width: 1440px) {
  .header__button-radio {
    font-size: 18px;
    margin-right: 130px;
    border-bottom: 3px solid #BFC0C5;
  }
}
.header__button-one {
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1B7DFF;
  font-size: 18px;
}
@media (min-width: 640px) {
  .header__button-one {
    margin-left: 10px;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .header__button-one {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (min-width: 1024px) {
  .header__button-one {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
  }
}
@media (min-width: 1440px) {
  .header__button-one {
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1440px) {
  .benefits {
    max-width: 1262px;
    margin: 0px auto;
    margin-top: -210px;
    background-color: white;
  }
}
.benefits-container {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 640px) {
  .benefits-container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) {
  .benefits-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (min-width: 1024px) {
  .benefits-container {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .benefits-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 110px;
  }
}
.benefits__title {
  padding-top: 30px;
  font-weight: 500;
  font-size: 29px;
  color: #102746;
}
@media (min-width: 640px) {
  .benefits__title {
    padding-top: 15px;
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .benefits__title {
    font-size: 27px;
    padding-top: 30px;
  }
}
@media (min-width: 1024px) {
  .benefits__title {
    font-size: 35px;
    padding-top: 40px;
  }
}
@media (min-width: 1440px) {
  .benefits__title {
    padding-top: 93px;
  }
}
.benefits__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .benefits__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.benefits__card {
  max-width: 320px;
  padding-top: 50px;
}
@media (min-width: 640px) {
  .benefits__card {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .benefits__card {
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .benefits__card {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .benefits__card {
    padding-top: 120px;
  }
}
.benefits__card-picture-img {
  width: 66px;
  height: 66px;
}
@media (min-width: 640px) {
  .benefits__card-picture-img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 768px) {
  .benefits__card-picture-img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1024px) {
  .benefits__card-picture-img {
    width: 66px;
    height: 66px;
  }
}
.benefits__card-title {
  font-weight: 500px;
  padding-top: 35px;
  font-size: 18px;
}
@media (min-width: 640px) {
  .benefits__card-title {
    font-size: 14px;
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .benefits__card-title {
    font-size: 15px;
    padding-top: 40px;
  }
}
@media (min-width: 1024px) {
  .benefits__card-title {
    font-size: 18px;
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .benefits__card-title {
    padding-top: 37px;
  }
}
.benefits__cardsubtitle {
  max-width: 317px;
  padding-top: 26px;
}
@media (min-width: 640px) {
  .benefits__cardsubtitle {
    max-width: 170px;
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .benefits__cardsubtitle {
    max-width: 210px;
    padding-top: 26px;
  }
}
@media (min-width: 1024px) {
  .benefits__cardsubtitle {
    max-width: 270px;
  }
}
@media (min-width: 1440px) {
  .benefits__cardsubtitle {
    max-width: 300px;
  }
}
.benefits__cardsubtitle-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 640px) {
  .benefits__cardsubtitle-text {
    font-size: 10px;
    line-height: 12px;
  }
}
@media (min-width: 768px) {
  .benefits__cardsubtitle-text {
    font-size: 12px;
    line-height: 17px;
  }
}
@media (min-width: 1024px) {
  .benefits__cardsubtitle-text {
    font-size: 16px;
    line-height: 24px;
  }
}
.benefits__card-button {
  padding-top: 40px;
}
@media (min-width: 640px) {
  .benefits__card-button {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .benefits__card-button {
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .benefits__card-button {
    padding-top: 40px;
  }
}
.benefits__card-button-learn {
  text-decoration: none;
  color: #006DFE;
  font-size: 16px;
}
@media (min-width: 640px) {
  .benefits__card-button-learn {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .benefits__card-button-learn {
    font-size: 16px;
  }
}

.gallery-container {
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 640px) {
  .gallery-container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) {
  .gallery-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (min-width: 1024px) {
  .gallery-container {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .gallery-container {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.gallery__title {
  font-size: 25px;
  color: #102746;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 27px;
  }
}
@media (min-width: 1024px) {
  .gallery__title {
    font-size: 35px;
  }
}
.gallery__wand {
  width: 180px;
  height: 3px;
  margin-top: 7px;
  background-color: #006DFE;
}
@media (min-width: 768px) {
  .gallery__wand {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .gallery__wand {
    width: 260px;
  }
}
.gallery__content {
  margin-top: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 200px);
}
@media (min-width: 640px) {
  .gallery__content {
    grid-template-rows: repeat(5, 300px);
  }
}
@media (min-width: 768px) {
  .gallery__content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px 150px;
  }
}
@media (min-width: 1440px) {
  .gallery__content {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 350px 280px;
    margin-top: 36px;
  }
}
.gallery__img {
  position: relative;
}
.gallery__img-picture {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: brightness(40%);
}
.gallery__img-title {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  color: #ffffff;
  margin-top: 150px;
  margin-left: 20px;
}
@media (min-width: 640px) {
  .gallery__img-title {
    margin-top: 230px;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .gallery__img-title {
    font-size: 27px;
    margin-left: 10px;
  }
}
@media (min-width: 1440px) {
  .gallery__img-title {
    font-size: 50px;
    font-weight: 700;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .gallery__big-img {
    grid-column: span 3;
  }
}
@media (min-width: 768px) {
  .gallery__little-img {
    grid-column: span 2;
  }
}
@media (min-width: 768px) {
  .gallery__big-img-title {
    margin-top: 155px;
  }
}
@media (min-width: 1440px) {
  .gallery__big-img-title {
    margin-top: 270px;
  }
}
@media (min-width: 768px) {
  .gallery__little-img-title {
    margin-top: 110px;
  }
}
@media (min-width: 1440px) {
  .gallery__little-img-title {
    margin-top: 200px;
  }
}
.gallery__button {
  margin-top: 20px;
}
.gallery__button-view {
  text-decoration: none;
  font-size: 16px;
  color: #006DFE;
}
@media (min-width: 1440px) {
  .gallery__button {
    margin-top: 40px;
  }
}

.today-container {
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 640px) {
  .today-container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) {
  .today-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (min-width: 1024px) {
  .today-container {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .today-container {
    padding-left: 188px;
    padding-right: 188px;
  }
}
.today__title {
  font-size: 30px;
  font-weight: 500;
  color: #102746;
}
.today__wand {
  margin-top: 7px;
  width: 220px;
  height: 3px;
  background-color: #006DFE;
}
.today__card-img {
  position: relative;
}
.today__card-img-picture {
  max-width: 353px;
  display: block;
  position: absolute;
}
.today__card-container {
  position: absolute;
  z-index: 1;
  margin-bottom: 30px;
}

.history-container {
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 640px) {
  .history-container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media (min-width: 768px) {
  .history-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (min-width: 1024px) {
  .history-container {
    padding-left: 93px;
    padding-right: 93px;
  }
}
@media (min-width: 1440px) {
  .history-container {
    padding-left: 90px;
    padding-right: 90px;
  }
}
.history__content {
  margin-top: 60px;
}
.history__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .history__card {
    margin-bottom: 60px;
  }
}
.history__img {
  width: 100%;
  height: 200px;
}
@media (min-width: 640px) {
  .history__img {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .history__img {
    width: 320px;
    height: 190px;
  }
}
@media (min-width: 1024px) {
  .history__img {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .history__img {
    width: 600px;
    height: 360px;
  }
}
.history__container-title {
  font-size: 25px;
  color: #102746;
  margin-top: 25px;
  line-height: 30px;
}
@media (min-width: 640px) {
  .history__container-title {
    font-size: 30px;
    margin-top: 30px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .history__container-title {
    font-size: 24px;
    margin-top: 0px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .history__container-title {
    font-size: 30px;
  }
}
@media (min-width: 1440px) {
  .history__container-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
  }
}
.history__container-title-word {
  display: block;
}
.history__container-subtitle {
  font-size: 16px;
  color: #102746;
  margin-top: 40px;
  line-height: 24px;
}
@media (min-width: 640px) {
  .history__container-subtitle {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .history__container-subtitle {
    max-width: 300px;
    font-size: 12px;
    margin-top: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1024px) {
  .history__container-subtitle {
    max-width: 400px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .history__container-subtitle {
    max-width: 520px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 85px;
  }
}
.history__container-button {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #006DFE;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .history__container-button {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .history__container-button {
    margin-top: 85px;
  }
}

.footer-container {
  margin-top: 110px;
}
.footer__background {
  background-image: linear-gradient(rgba(53, 66, 103, 0), #151824), url(../img/town.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__background {
    min-height: 500px;
  }
}
@media (min-width: 1440px) {
  .footer__background {
    min-height: 600px;
  }
}
.footer__background-circle {
  width: 110px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__background-circle-triangle {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 34px;
  border-top-width: 32px;
  border-left: 44px solid black;
  margin-left: 10px;
}
.footer__content {
  background-color: #0E1D28;
  padding-bottom: 100px;
}
@media (min-width: 640px) {
  .footer__content {
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    min-height: 370px;
  }
}
.footer__logo {
  display: block;
  margin: 0px auto;
  padding: 30px;
}
.footer__list {
  display: block;
  max-width: 101px;
  margin: 0px auto;
  margin-top: 35px;
}
@media (min-width: 1024px) {
  .footer__list {
    margin-left: 10px;
  }
}
.footer__additional {
  line-height: 24px;
}
.footer__additional-title {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 3px;
}
.footer__additional-information {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 4px;
}

/*# sourceMappingURL=index.css.map */
