$Linear-GradientColor: #35426700, #151824;
$WhiteColor: #ffffff;
$BlackColor: #000000;
$MainColor: #102746;
$BackgroundColor: #F2F2F2;
$MainButtonColor: #006DFE;
$ButtonColor:#1B7DFF;
$MainBorderColor:#006DFE;
$BorderColor:#BFC0C5;
