@import './var.scss';
@import './mixins.scss';

.nav{
    @include for-desktop-HD{
        max-width: 1262px;
        margin: 0px auto;
        margin-top: -210px;
        background-color: white;
    }
    &-container {
        padding-left: 9px;
        padding-right: 9px;
        @include for-mobile {
            padding-left: 39px;
            padding-right: 39px;
          }
          @include for-tablet{
            padding-left: 54px;
            padding-right: 54px;
          }
          @include for-desktop{
            padding-left: 93px;
            padding-right: 93px;
          }
          @include for-desktop-HD{
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 110px;
          }
    }
    &__title{
        padding-top: 10px;
        font-weight: 500;
        font-size: 20px;
        color: $MainColor;
        @include for-mobile{
            padding-top: 15px;
            font-size: 25px;
        }
        @include for-tablet{
            font-size: 27px;
            padding-top: 30px;
        }
        @include for-desktop{
            font-size: 35px;
            padding-top: 40px;
        }
        @include for-desktop-HD{
            padding-top: 93px;
        }
 
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
 
    }
    &__card{
        max-width: 320px;
        padding-top: 20px;
        @include for-mobile{
            padding-top: 25px;
        }
        @include for-tablet{
            padding-top: 50px;
        }
        @include for-desktop{
            padding-top: 60px;
        }
        @include for-desktop-HD{
            padding-top: 120px;
        }
        &-picture{
            &-castle{
                width: 33px;
                height: 33px;
                @include for-mobile{
                    width: 40px;
                    height: 40px;
                }
                @include for-tablet{
                    width: 45px;
                    height: 45px;

                }
                @include for-desktop{
                    width: 66px;
                    height: 66px;
                }
            }
        }
        &-title{
            font-weight: 500px;
            padding-top: 25px;
            font-size: 14px;
            @include for-tablet{
                font-size: 15px;
                padding-top: 40px;
            }
            @include for-desktop{
                font-size: 18px;
                padding-top: 60px;
            }
            @include for-desktop-HD{
                padding-top: 37px;
            }
        }
        &subtitle{
            max-width: 170px;
            padding-top: 20px;
            @include for-tablet{
                max-width: 210px;
                padding-top: 26px;
            }
            @include for-desktop{
                max-width: 270px;
            }
            @include for-desktop-HD{
                max-width: 300px;
            }
            &-text{
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
                @include for-tablet{
                    font-size: 12px;
                    line-height: 17px;
                }
                @include for-desktop{
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &-button{
            padding-top: 10px;
            @include for-tablet{
                padding-top: 20px;
            }
            @include for-desktop{
                padding-top: 40px;
            }
             &-learn{
                text-decoration: none;
                color: $MainButtonColor;
                font-size: 10px;
                @include for-tablet{
                    font-size: 13px;
                }
                @include for-desktop{
                    font-size: 16px;
                }
             }
        }
    }
}